a {
    font-weight: bold;
    color: #065FD4;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    margin: 0;
    /*font-family: "Times New Roman", serif;*/
    font-family: Calibri, serif;
}

.navbar {
    border-bottom-style: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar li {
    float: left;
    color: white;
}

.navbar li a {
    color: white;
    display: block;

    text-align: center;
    padding: 10px 8px;

    text-decoration: none;
}

.header li form {
    display: block;
    color: white;
    padding: 14px 12px 0 560px;

}

.navbar li a:hover:not(.active) {
    background-color: red;


}


.navbar.active {
    background-color: #4CAF50;
}


.column {
    float: left;
    padding: 5px;
}

.column.side {
    padding: 5px 0 0 350px;
    width: 35%;
}

.column.middle {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.left-block {
    border: 3px solid green;
    text-align: center;
    max-height: 250px;
    max-width: 250px;
}

.result-table {
    border-collapse: collapse;
}

.result-table caption {
    caption-side: top;
    text-align: center;

}

.result-table th, td {
    text-align: left;
    padding: 8px;
}

.result-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.result-table tr:hover {
    background-color: #f5f5f5;
}

.result-table th {
    text-align: center;
    background-color: #006DE2;
    color: white;
}

.result-table #photo, #photo-search-1, #photo-search-2, #photo-friends-1, #photo-friends-2, #photo-friends-3, #photo-groups-1, #photo-groups-2, #messages-photo, #chat-photo, #profile-wall-photo {
    text-align: center;
    width: 3cm;
}

.result-table #news-photo{
    text-align: center;
    width: 3cm;
}

.result-table #index-center-align, #search-center-align-1, #search-center-align-2, #friends-center-align-1, #friends-center-align-2, #friends-center-align-3, #friends-center-align-4, #friends-center-align-5, #friends-center-align-6, #friends-center-align-7, #friends-center-align-8, #groups-center-align-1, #groups-center-align-2, #groups-center-align-3, #groups-center-align-4, #groups-center-align-5, #groups-center-align-6, #groups-center-align-7, #groups-center-align-8, #messages-center-align-1, #chat-center-align-1, #profile-wall-center-align, #search-center-align-5 {
    text-align: center;
    width: 5cm;
}

.result-table #news-center-align-1 {
    text-align: center;
    width: 3cm;
}

.result-table #index-left-align, #search-left-align-1, #search-left-align-2, #search-left-align-3, #friends-left-align-1, #friends-left-align-2, #groups-left-align-1, #messages-left-align-1, #chat-left-align-1, #profile-wall-left-align {
    text-align: left;
    width: 5cm;
}

.result-table #news-left-align-1 {
    text-align: left;
    width: 10cm;
}

div.left-block-image {
    vertical-align: top;
    display: inline-block;
    text-align: center;

}

.status-text {
    margin: 0 0 7px;
    display: block;
    color: #ff0000;
    font-weight: bolder;
    font-size: 1.5rem
}

.buttons-block {
    margin: 15px 0 10px;
    display: block;
    color: #ff0000;
    font-weight: bold;
    font-size: 12pt
}

#text {
    width: 100%;
}

.left-nav-bar ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    width: 200px;
    background-color: #F9F9F9;

}

.left-nav-bar li a {
    display: block;
    color: #000;
    padding: 9px 4px;
    text-decoration: none;

}

.left-nav-bar li a:hover {
    background-color: #006DE2;
    color: white;

}

#red_text {
    color: red;
    font-weight: bold;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #ff0000;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.field {
    display: block;
    float: left;
}

.button {
    display: block;
    float: left;
    height: 21px;
    width: 60px;
    margin: -18px 10px;
}

.table-row label {
    display: inline-block;
    width: 44%;
    margin: 0 15px 0 -4px;
}

.table-row input {
    display: inline-block;
    width: 46%;
    margin: 0 0 0 -24%;
}

.table-row label.help {
    display: block;
}

.button-delete {
    float: left;
    display: table-row;
    height: 20%;

    margin: -35px 0 0 70%;
}

.button-add {
    height: 20%;
    margin: 0 0 0 -4px;
}

form.search input[type=text] {
    padding: 4px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #F9F9F9;
}

form.search button {
    float: left;
    width: 20%;
    padding: 4px;
    background: #006DE2;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.btn-primary {
    background-color: #006DE2;
}

.btn-primary:hover {
    background: #0b7dda;
}


